@use '@/styles/variables' as vars;

.header {
  text-align: center;
  margin-bottom: 32px;
}

.title {
  font-family: vars.$font-family;
  font-weight: vars.$font-weight-medium;
  font-size: vars.$font-size-title;
  line-height: vars.$line-height-title;
  letter-spacing: 0px;
  color: vars.$color-text;
  opacity: 1;
  margin: 0 0 16px;
}

.description {
  font-family: vars.$font-family;
  font-weight: vars.$font-weight-regular;
  font-size: vars.$font-size-body;
  line-height: vars.$line-height-body;
  letter-spacing: 0px;
  color: vars.$color-text;
  text-align: center;
  opacity: 1;
  margin: 0;
}
