@use 'sass:color';
@use '@/styles/variables' as vars;

.item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 26px;
  cursor: pointer;
  user-select: none;
  font-weight: vars.$font-weight-regular;
  font-size: vars.$font-size-item;
  line-height: vars.$line-height-item;
  text-align: left;
  color: vars.$color-text;
  background-color: transparent;
  list-style: none;
  transition: background-color 0.1s ease;

  &:hover {
    background-color: color.adjust(vars.$color-list-bg, $lightness: -3%);
  }

  &--selected {
    background: vars.$color-primary;
    color: vars.$color-white;

    &:hover {
      background-color: vars.$color-primary-hover;
    }
  }
}
